@import "tailwindcss";

:root {
  --color-background: #1e1e1e;
  /* VS Code inner background */
  --color-surface: #252526;
  /* VS Code panel background */
  --color-surface-hover: #2d2d2d;
  --color-primary: #9d4edd;
  /* Purple Accent */
  --color-primary-hover: #7b2cbf;
  --color-border: #333333;
  --color-muted: #858585;
}

body {
  background-color: #121212;
  /* Main window background */
  color: #cccccc;
  /* Base text color */
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}